/* === VARIABLES === */

// COLORS
$color-blue-light: #688ab0;
$color-blue-dark: #254351;

$color-green-light: #39964f;
$color-green-dark: #005b70;


$color-light-brown: #d2b7a4;

$color-orange: #f79d00;
$color-yellow: #ffdf04;

$color-gray: #c6c9ce;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;

$color-white: #fff;
$color-yellow-white: #f3f0c7;

$color-semi-black: #777;
$color-black: #000;
$color-text: #555;

// ========== CARD COLORS ============

$color-primary-light: #f84f4f;
$color-primary-dark: #8f0606;

$color-secondary-light: #b3ff00;
$color-secondary-dark: #036618;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// =========================

$font-family: 'Nanum Myeongjo', serif;

//FONT
$default-font-size: 1.6rem;

// =========================

$text-shadow-black: .2rem .2rem .4rem rgba($color-black,.2);
$text-shadow-orange: .2rem .2rem .4rem rgba($color-orange,.2);

$box-shadow-normal: 0 2.5rem 4rem rgba($color-black,.5);
$box-shadow-medium: 0 1.5rem 4rem rgba($color-black, .4);
$box-shadow-small: 0 1.5rem 4rem rgba($color-black, .15);

// =========================

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;