/* === BUTTONS === */
.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        font-size: $default-font-size;
        display: inline-block; /*do this for the padding*/
        border-radius: 10rem;
        transition: all .2s;

        //this is the change apply to button element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        /* box-shadow: x y blur color); */
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    
    &:active,
    &focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white {
        background-color: rgba($color-white, 0.8);
        color: $color-semi-black;
    }

    &--orange {
        background-color: rgba($color-orange-button, .9);
        color: $color-white;
    }
    
    &--animated {
        animation-name: moveTop;
        animation-duration: 2.5s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-orange;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-orange;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-orange;
        color: $color-white;
        box-shadow: $box-shadow-small;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: $box-shadow-small;
        transform: translateY(0);
    }
}