/* === TYPOGRAPHY === */

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-text;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-shadow: $text-shadow-black;
    backface-visibility: hidden; /*to prevent animation from shaking*/
    margin-bottom: 6rem; /* to give the margin for some spacing of the box underneath */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        text-shadow: $text-shadow-black;
    
        animation-name: moveInLeft;
        animation-duration: 1.5s;

        @include respond(phone) { 
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1.7rem;
    
        animation-name: moveInRight;
        animation-duration: 1.5s;

        @include respond(phone) {
            font-size: 2rem; 
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5 rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    text-shadow: $text-shadow-orange;

    //clip background-color to text
    background-image: linear-gradient(to right, $color-yellow-heading, $color-orange-heading);
    -webkit-background-clip: text;
    background-clip: text;   
    //make text transparent for the color to sit on top
    color: transparent;

    @include respond(tab-port) { 
            font-size: 2.8rem;
        }
    
    @include respond(phone) { 
        font-size: 2.2rem;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
